<div class="">

    <!-- Header title and buttons -->
    <div class="container">
      <div class="row mt-4 align-self-center">

        <!-- Back button -->
        <div class="col align-self-center justify-content-start">
          <!-- TODO: dodac routing -->
          <button class="btn btn-primary">Wróć</button>
        </div>

        <!-- Title -->
        <div class="col-8">
          <h1 class="container text-center">
            <!-- TODO: dodac nazwe uzytkownika -->
            <b>Edycja danych użytkownika lubee0</b>
          </h1>
        </div>

        <!-- Confirm button -->
        <div class="col align-self-center justify-content-end text-right">
          <!-- TODO: dodac routing do funkcji zatwierdzającej -->
          <button class="btn btn-primary">Zatwierdź</button>
        </div>
      </div>
    </div>

    <div class="container border rounded-lg my-4">
      <!-- Visit title bar -->
      <div class="row justify-content-center rounded-top" style="background-color: #cce4ff">
        <h3><b>Dane podstawowe</b></h3>
      </div>

      <div class="row mt-4">
        <div class="col">
          <div class="row mt-2">
            <div class="col justify-content-start">
              Imię:
            </div>
            <div class="col-8 text-left">
              <input #box1="" type="text" class="form-control" value="Jerzy">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col justify-content-start">
              Kod licencji:
            </div>
            <div class="col-8 text-left">
              <input #box1="" type="text" class="form-control" value="CCC951064">
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row my-2">
            <div class="col justify-content-start">
              Nazwisko:
            </div>
            <div class="col-8 text-left">
              <input #box1="" type="text" class="form-control" value="Czornik">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              Status:
            </div>
            <div class="col-8">
              <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect01">
                  <option value="active" selected>Aktywny</option>
                  <option value="disabled">Nieaktywny</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container border rounded-lg mt-4">
      <!-- Visit title bar -->
      <div class="row justify-content-center rounded-top" style="background-color: #cce4ff">
        <h3><b>Dane szczegółowe</b></h3>
      </div>

      <div class="row mt-4">
        <div class="col">
         <div class="row">
           <div class="col">
            Adres:
           </div>
           <div class="col-8 text-left">
             <input #box1="" type="text" class="form-control" value="Sezamkowa 14/9">
           </div>
         </div>
        </div>
        <div class="col text-right">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <div class="row">
            <div class="col">
              Kod pocztowy:
            </div>
            <div class="col-8 text-left">
              <input #box1="" type="text" class="form-control" value="96-052">
            </div>
          </div>
        </div>
        <div class="col text-right">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <div class="row">
            <div class="col">
              Miasto:
            </div>
            <div class="col-8 text-left">
              <input #box1="" type="text" class="form-control" value="Czeladź">
            </div>
          </div>
        </div>
        <div class="col text-right">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <div class="row">
            <div class="col">
              Województwo:
            </div>
            <div class="col-8 text-left">
              <input #box1="" type="text" class="form-control" value="śląskie">
            </div>
          </div>
        </div>
        <div class="col text-right">
        </div>
      </div>
      <div class="row my-2">
        <div class="col">
          <div class="row">
            <div class="col">
              Nr telefonu:
            </div>
            <div class="col-8 text-left">
              <input #box1="" type="text" class="form-control" value="111222333">
            </div>
          </div>
        </div>
        <div class="col text-right">
        </div>
      </div>


    </div>


  </div>
