<div class="containter">
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="pwdForm" (ngSubmit)="submit(box.value)">
            <div class="form-group">
                <label for="pwdInput">Hasło:</label>
                <input type="password" formControlName="passwd" class="form-control" id="pwdInput" #box [ngClass]="{ 'is-invalid': sub && f.passwd.errors }">
                <div *ngIf="sub && f.passwd.errors" class="invalid-feedback">
                    <div *ngIf="f.passwd.errors.required">Pole nie może być puste</div>
                </div>
            </div>
            <div class="form-group">
                <label for="pwdInput2">Powtórz hasło:</label>
                <input type="password" formControlName="confirmPasswd" class="form-control" id="pwdInput2" [ngClass]="{ 'is-invalid': sub && f.confirmPasswd.errors }">
                <div *ngIf="sub && f.confirmPasswd.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPasswd.errors.required">Pole nie może być puste</div>
                    <div *ngIf="f.confirmPasswd.errors.mustMatch">Hasła muszą być takie same</div>
                </div>
            </div>
            <div class="form-group modal-footer">
                <button class="btn btn-success">Zapisz</button>
            </div>
        </form>
    </div>
</div>