<nav class="navbar navbar-expand navbar-light bg-primary">
  <span class="text-black-50"><i class="fa fa-3x fa-th-large mr-2"></i></span>
  <span class="nav-item text-white text-xl-center ml-2 font-weight-bold">MÓJ PANEL</span>

  <ul (click)="navigateToHomePage()" class="navbar-nav mx-auto">
    <li class="fa fa-3x fa-medkit mr-2 text-black-50 my-auto"></li>
    <li class="text-white my-auto ml-2 font-weight-bold">E-PRZYCHODNIA</li>
  </ul>

  <div *ngIf="!userFullName; else userPresent">
    <button (click)="navigateToLoginPage()" class="btn btn-sm btn-outline-light mr-2">Logowanie</button>
  </div>

  <span class="text-black-50"><i class="fa fa-3x fa-user"></i></span>
</nav>

<ng-template #userPresent>
  <div class="mr-2 text-white">{{userFullName}}</div>
</ng-template>

<router-outlet></router-outlet>



