<!-- Nagłówek -->
<div class="container">
    <div class="row justify-content-md-center mt-4 align-self-center">
        <!-- Przycisk wróć -->
        <div class="col align-self-center text-center">
            <button (click)="activeModal.dismiss('Cross click')" class="btn btn-primary" >Anuluj/Wróć</button>
        </div>
        <!-- Tytuł -->
        <div class="row">
            <h1 class="container text-center">
                <b>Dodawanie pacjenta</b>
            </h1>
        </div>
        <!-- Placeholder-->
        <div class="col align-self-center text-center">
            <button (click)="confirm()" class="btn btn-primary" >Zatwierdź</button>
        </div>
    </div>
</div>
<!-- Dane podstawowe -->
<div class="container border rounded-lg mt-4">
    <!-- Visit title bar -->
    <div class="row justify-content-center rounded-top" style="background-color: #cce4ff">
        <h3><b>Dane podstawowe</b></h3>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="row">
                <div class="col align-self-center">
                    Imię:
                </div>
                <div class="col-8 text-left">
                    <input #box1="" (keyup)="patient.firstName=box1.value" type="text" class="form-control" value="{{patient.firstName}}">
                </div>
            </div>
        </div>
        <div class="col text-right">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="row">
                <div class="col align-self-center">
                    Nazwisko:
                </div>
                <div class="col-8 text-left">
                    <input #box2="" (keyup)="patient.lastName=box2.value" type="text" class="form-control" value="{{patient.lastName}}">
                </div>
            </div>
        </div>
        <div class="col text-right">
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <div class="row">
                <div class="col align-self-center">
                    Pesel:
                </div>
                <div class="col-8 text-left">
                    <input #box3="" (keyup)="patient.peselNumber=box3.value" type="text" class="form-control" value="{{patient.peselNumber}}">
                </div>
            </div>
        </div>
        <div class="col text-right">
        </div>
    </div>
</div>
<!--Dane szczegółowe-->
<div class="container border rounded-lg mt-4">
    <!-- Visit title bar -->
    <div class="row justify-content-center rounded-top" style="background-color: #cce4ff">
        <h3><b>Dane szczegółowe</b></h3>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="row">
                <div class="col align-self-center">
                    Adres:
                </div>
                <div class="col-8 text-left">
                    <input #box4="" (keyup)="patient.streetAddress1=box4.value" type="text" class="form-control" value="{{patient.streetAddress1}}">
                </div>
            </div>
        </div>
        <div class="col text-right">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="row">
                <div class="col align-self-center">
                    Kod pocztowy:
                </div>
                <div class="col-8 text-left">
                    <input #box5="" (keyup)="patient.zipCode=box5.value" type="text" class="form-control" value="{{patient.zipCode}}">
                </div>
            </div>
        </div>
        <div class="col text-right">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="row">
                <div class="col align-self-center">
                    Miasto:
                </div>
                <div class="col-8 text-left">
                    <input #box6="" (keyup)="patient.city=box6.value" type="text" class="form-control" value="{{patient.city}}">
                </div>
            </div>
        </div>
        <div class="col text-right">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="row">
                <div class="col align-self-center">
                    Województwo:
                </div>
                <div class="col-8 text-left">
                    <input #box7="" (keyup)="patient.region=box7.value" type="text" class="form-control" value="{{patient.region}}">
                </div>
            </div>
        </div>
        <div class="col text-right">
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <div class="row">
                <div class="col align-self-center">
                    Nr telefonu:
                </div>
                <div class="col-8 text-left">
                    <input #box8="" (keyup)="patient.contactNumber=box8.value" type="text" class="form-control" value="{{patient.contactNumber}}">
                </div>
            </div>
        </div>
        <div class="col text-right">
        </div>
    </div>
</div>
 
    <!--
        "firstName": "Mario",
        "lastName": "Khani",
        "peselNumber": "56284365521",
        "city": "Colorado Springs",
        "streetAddress1": "354 Logan Wayasdsa",
        "streetAddress2": null,
        "zipCode": "80925asdasd",
        "region": "Colorado",
        "contactNumber": "999248638sad"
    --> 