<div class="">

    <!-- Header title and buttons -->
    <div class="container">
        <div class="row mt-4 align-self-center">

            <!-- Back button -->
            <div class="col align-self-center">
                <button class="btn btn-primary" *ngIf="this.getRole()=='LABW' || this.getRole() == 'LABS'" (click)="navigateToList()">Wróć</button>
                <button class ="btn btn-primary" *ngIf="this.getRole()=='DOC'" (click)="navigateToVisitDetails()">Wróć</button>
            </div>

            <!-- Title -->
            <div class="row">
                <h1 class="container text-center">
                    <b>Szczegóły badania numer {{this.exam_id}}</b>
                </h1>
            </div>

            <!-- Placeholder -->
            <div class="col">
            </div>
        </div>
    </div>

    <div class="container mt-4" *ngIf="this.alertResult">
        <div class="row align-self-center">
            <div class="col">
                <p>
                    <ngb-alert [type]="'danger'" (close)="close('result')"><b>Pole wyniku badania nie może być
                            puste!</b></ngb-alert>
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-4" *ngIf="this.alertNote">
        <div class="row align-self-center">
            <div class="col">
                <p>
                    <ngb-alert [type]="'danger'" (close)="close('note')"><b>Pole uwag kierownika nie może być puste!</b>
                    </ngb-alert>
                </p>
            </div>
        </div>
    </div>

    <!-- Basic information -->
    <div class="container border rounded-lg mt-4">
        <!-- Examination title bar -->
        <div class="row justify-content-center rounded-top" style="background-color: #cce4ff">
            <h3><b>Informacje podstawowe</b></h3>
        </div>

        <!-- Examination basic info -->
        <div class="row border-top border-bottom">

            <!-- Examination code and name -->
            <div class="col-8 text-center border-right">
                <h5 class="mt-2"><b>{{examination.name}}</b></h5>
            </div>

            <!-- Status -->
            <div class="col-4">
                <h5 class="mt-2 text-center" *ngIf="examination.status=='in_progress'"><b>Zlecone</b><br></h5>
                <h5 class="mt-2 text-center text-warning" *ngIf="examination.status=='executed'"><b>Wykonane</b><br>
                </h5>
                <h5 class="mt-2 text-center text-danger"
                    *ngIf="examination.status=='cancelled' && examination.approvalCancellationDate == null"><b>Anulowane
                        przez laboranta</b><br></h5>
                <h5 class="mt-2 text-center text-success" *ngIf="examination.status=='approved'">
                    <b>Zatwierdzone</b><br></h5>
                <h5 class="mt-2 text-center text-danger"
                    *ngIf="examination.status=='cancelled' && examination.approvalCancellationDate != null"><b>Anulowane
                        przez kierownika</b><br></h5>
            </div>
        </div>

        <!-- Examination basic info -->
        <div class="row">

            <!-- Patient info -->
            <div class="col ml-1 border-right">
                <b>Pacjent:</b><br>
                {{examination.patient.firstName}}<br>
                {{examination.patient.lastName}}<br>
                {{examination.patient.peselNumber}}<br>
            </div>

            <!-- Doctor info -->
            <div class="col ml-1 border-right">
                <b>Lekarz:</b><br>
                {{examination.doctor.firstName}}<br>
                {{examination.doctor.lastName}}<br>
                {{examination.doctor.licenseCode}}<br>
            </div>

            <!-- Lab worker info -->
            <div class="col ml-1 border-right">
                <b>Laborant:</b><br>
                <div *ngIf="examination.labWorker != null">
                    {{examination.labWorker.firstName}}<br>
                    {{examination.labWorker.lastName}}<br>
                    {{examination.labWorker.licenseCode}}<br>
                </div>
            </div>

            <!-- Dates and accept/cancel for supervisor -->
            <div class="col-4">

                <!-- Dates -->

                <!-- Order date -->
                <div class="row">
                    <div class="col-sm-8">Data zlecenia:</div>
                    <div class="col-sm-4 text-right">{{this.formatDate('visit')}}</div>
                </div>
                <div class="row mt-4 justify-content-center align-middle"
                    *ngIf="examination.status=='in_progress' && getRole() == 'LABW'">
                    <button class="btn btn-success mx-2" (click)="changeStatus('Done')">Wykonaj</button>
                    <button class="btn btn-danger mx-2" (click)="changeStatus('CanWork')">Anuluj</button>
                </div>

                <!-- Worker cancel date -->
                <div class="row" *ngIf="examination.status=='cancelled'">
                    <div class="col-sm-8">Data anulowania</div>
                    <div class="col-sm-4 text-right">{{this.formatDate('execution')}}</div>
                </div>

                <!-- Execution date and buttons for supervisor -->
                <div *ngIf="examination.status=='executed'">
                    <div class="row">
                        <div class="col-sm-8">Data wykonania:</div>
                        <div class="col-sm-4 text-right">{{this.formatDate('execution')}}</div>
                    </div>
                    <div class="row mt-2 justify-content-center" *ngIf="getRole() == 'LABS'">
                        <button class="btn btn-success mx-2" (click)="changeStatus('Approve')">Zatwierdź</button>
                        <button class="btn btn-danger mx-2" (click)="changeStatus('CanSup')">Anuluj</button>
                    </div>
                </div>

                <!-- Execution and approval date -->
                <div *ngIf="examination.status=='approved'">
                    <div class="row">
                        <div class="col-sm-8">Data wykonania:</div>
                        <div class="col-sm-4 text-right">{{this.formatDate('execution')}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">Data zatwierdzenia:</div>
                        <div class="col-sm-4 text-right">{{this.formatDate('approval')}}</div>
                    </div>
                </div>

                <!-- Execution and disapproval date -->
                <div *ngIf="examination.status=='cancelled'">
                    <div class="row">
                        <div class="col-sm-8">Data wykonania:</div>
                        <div class="col-sm-4 text-right">{{this.formatDate('execution')}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">Data odrzucenia:</div>
                        <div class="col-sm-4 text-right">{{this.formatDate('approval')}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Doctors note -->
    <div class="container border rounded-lg mt-4">
        <!-- Title bar -->
        <div class="row justify-content-center rounded-top" style="background-color: #cce4ff">
            <h3><b>Uwagi lekarza</b></h3>
        </div>

        <!-- Doctors note read-only -->
        <div class="row border-top">
            <div class="col">
                {{examination.doctorNote}}
            </div>
        </div>
    </div>

    <!-- Result -->
    <div class="container border rounded-lg mt-4">
        <!-- Title bar -->
        <div class="row justify-content-center rounded-top" style="background-color: #cce4ff">
            <h3><b>Wynik badania</b></h3>
        </div>

        <!-- Examination result -->
        <div class="row border-top">
            <div class="col">
                {{examination.result}}
            </div>
            <div class="col-1" *ngIf="examination.status=='in_progress' && getRole() == 'LABW'">
                <button class="btn btn-primary align-self-center my-2" (click)="openPopup('result')">Edytuj</button>
            </div>
        </div>
    </div>

    <!-- Supervisor note -->
    <div class="container border rounded-lg mt-4"
        *ngIf="examination.status=='executed' || examination.status=='approved' || examination.status=='cancelled'">
        <!-- Title bar -->
        <div class="row justify-content-center rounded-top" style="background-color: #cce4ff">
            <h3><b>Uwagi kierownika</b></h3>
        </div>

        <!-- Supervisor note -->
        <div class="row border-top">
            <div class="col">
                {{examination.supervisorNote}}
            </div>
            <div class="col-1" *ngIf="examination.status=='executed' && getRole() == 'LABS'">
                <button class="btn btn-primary align-self-center my-2" (click)="openPopup('note')">Edytuj</button>
            </div>
        </div>
    </div>

</div>