<div class="container-fluid">

    <!-- Header title and buttons -->
    <div class="container">
        <div class="row mt-4 align-self-center">

            <!-- Placeholder -->
            <div class="col">
            </div>

            <!-- Title -->
            <div class="row">
                <h1 class="container text-center">
                    <b>Lista badań laboratoryjnych</b>
                </h1>
            </div>

            <!-- Filter & sorting menu -->
            <div class="col text-right align-self-center">
                <div ngbDropdown class="d-inline-block" [autoClose]="false">
                    <button class="btn btn-outline-primary" ngbDropdownToggle>Filtruj</button>
                    <div ngbDropdownMenu>
                        <label ngbDropdownItem><input type="checkbox" [checked]="filters['in_progress']"
                                (change)="filters['in_progress'] = !filters['in_progress']">&ensp;Zlecone</label>
                        <label ngbDropdownItem class="text-warning"><input type="checkbox" [checked]="filters['executed']"
                                (change)="filters['executed'] = !filters['executed']">&ensp;Wykonane</label>
                        <label ngbDropdownItem class="text-success"><input type="checkbox" [checked]="filters['approved']"
                                (change)="filters['approved'] = !filters['approved']">&ensp;Zatwierdzone</label>
                        <label ngbDropdownItem class="text-danger"><input type="checkbox" [checked]="filters['cancelled']"
                                (change)="filters['cancelled'] = !filters['cancelled']">&ensp;Anulowane</label>
                    </div>
                </div>

                <div ngbDropdown class="d-inline-block ml-4">
                    <button class="btn btn-outline-primary" ngbDropdownToggle>Sortuj</button>
                    <div ngbDropdownMenu>
                        <button (click)="sort(0)" ngbDropdownItem>Data zlecenia: Od najnowszych</button>
                        <button (click)="sort(1)" ngbDropdownItem>Data zlecenia: Od najstarszych</button>
                        <button (click)="sort(2)" ngbDropdownItem>Data zakończenia: Od najnowszych</button>
                        <button (click)="sort(3)" ngbDropdownItem>Data zakończenia: Od najstarszych</button>
                        <button (click)="sort(4)" ngbDropdownItem>ID: rosnąco</button>
                        <button (click)="sort(5)" ngbDropdownItem>ID: malejąco</button>
                        <button (click)="sort(6)" ngbDropdownItem>Domyślnie</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Examination list -->
    <div *ngFor="let lab of laboratoryList">
        <div *ngIf="true" class="container border rounded-lg mt-4">
            <!-- Examination title bar (id, title, status) -->
            <div class="row justify-content-md-center rounded-top" style="background-color: #cce4ff">
                <div class="col align-self-center text-center"><b>{{lab.id}}</b></div>
                <div class="col-6 align-self-center text-center"><b>{{lab.name}}</b></div>
                <div class="col-4 text-center" *ngIf="lab.status=='in_progress'"><b>Zlecone</b></div>
                <div class="col-4 text-center text-warning" *ngIf="lab.status=='executed'"><b>Wykonane</b></div>
                <div class="col-4 text-center text-danger" *ngIf="lab.status=='cancelled' && lab.approvalCancellationDate == null"><b>Anulowane przez
                        laboranta</b></div>
                <div class="col-4 text-center text-success" *ngIf="lab.status=='approved'"><b>Zatwierdzone</b></div>
                <div class="col-4 text-center text-danger" *ngIf="lab.status=='cancelled' && lab.approvalCancellationDate != null"><b>Anulowane przez
                        kierownika</b></div>
            </div>

            <!-- Examination basic info -->
            <div class="row border-top">
                <div class="col-8 align-self-center my-1">
                    <div class="row">
                        <div class="col">Data zlecenia:</div>
                        <div class="col-8">{{lab.formatDate('visit')}}</div>
                    </div>
                    <div class="row" *ngIf="lab.status=='cancelled'">
                        <div class="col">Data anulowania:</div>
                        <div class="col-8">{{lab.formatDate('execution')}}</div>
                    </div>
                    <div class="row" *ngIf="lab.status=='executed' || lab.status=='approved'">
                        <div class="col">Data wykonania:</div>
                        <div class="col-8">{{lab.formatDate('execution')}}</div>
                    </div>
                    <div class="row" *ngIf="lab.status=='approved'">
                        <div class="col">Data zatwierdzenia:</div>
                        <div class="col-8">{{lab.formatDate('approval')}}</div>
                    </div>
                    <div class="row" *ngIf="lab.status=='cancelled'">
                        <div class="col">Data odrzucenia:</div>
                        <div class="col-8">{{lab.formatDate('approval')}}</div>
                    </div>
                </div>

                <!-- Details button -->
                <div class="col-4 align-self-center text-center my-2">
                    <button class="btn btn-primary btn-sm" (click)="navigateToDetails(lab.id)">Szczegóły</button>
                </div>
            </div>
        </div>
    </div>
</div>
