<div class="container-fluid">

    <!-- Header title and buttons -->
    <div class="container">
        <div class="row mt-4 align-self-center">
            
            <!-- Filter menu -->
            <div class="col">
                <div ngbDropdown class="d-inline-block" [autoClose]="false">
                    <button class="btn btn-outline-primary" ngbDropdownToggle>Filtruj</button>
                    <div ngbDropdownMenu>
                        <label ngbDropdownItem><input type="checkbox" [checked]="filters['ZLE']" (change)="filters['ZLE'] = !filters['ZLE']">Zlecone</label>
                        <label ngbDropdownItem class="text-warning"><input type="checkbox" [checked]="filters['WYK']" (change)="filters['WYK'] = !filters['WYK']">Wykonane</label>
                        <label ngbDropdownItem class="text-success"><input type="checkbox" [checked]="filters['ZATW']" (change)="filters['ZATW'] = !filters['ZATW']">Zatwierdzone</label>
                        <label ngbDropdownItem class="text-danger"><input type="checkbox" [checked]="filters['ANUL_LAB']" (change)="filters['ANUL_LAB'] = !filters['ANUL_LAB']">Anulowane przez laboranta</label>
                        <label ngbDropdownItem class="text-danger"><input type="checkbox" [checked]="filters['ANUL_KLAB']" (change)="filters['ANUL_KLAB'] = !filters['ANUL_KLAB']">Anulowane przez kierownika</label>
                    </div>
                </div>
            </div>

            <!-- Title -->
            <div class="row">
                <h1 class="container text-center">
                    <b>Lista badań laboratoryjnych</b>
                </h1>
            </div>

            <!-- Sorting menu -->
            <div class="col text-right">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" ngbDropdownToggle>Sortuj</button>
                    <div ngbDropdownMenu>
                        <button (click)="sort(0)" ngbDropdownItem>Data zlecenia: Od najnowszych</button>
                        <button (click)="sort(1)" ngbDropdownItem>Data zlecenia: Od najstarszych</button>
                        <button (click)="sort(2)" ngbDropdownItem>Data zakończenia: Od najnowszych</button>
                        <button (click)="sort(3)" ngbDropdownItem>Data zakończenia: Od najstarszych</button>
                        <button (click)="sort(4)" ngbDropdownItem>ID: rosnąco</button>
                        <button (click)="sort(5)" ngbDropdownItem>ID: malejąco</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Examination list -->
    <div *ngFor="let lab of laboratoryList">
        <div *ngIf="filters[lab.stateId.name]" class="container border rounded-lg mt-4">
            <!-- Examination title bar (id, title, status) -->
            <div class="row justify-content-md-center rounded-top" style="background-color: #cce4ff">
                <div class="col align-self-center text-center"><b>{{lab.id}}</b></div>
                <div class="col-6 align-self-center text-center"><b>{{lab.doctorNote}}</b></div>
                <div class="col-4 text-center" *ngIf="lab.stateId.name=='ZLE'"><b>Zlecone</b></div>
                <div class="col-4 text-center text-warning" *ngIf="lab.stateId.name=='WYK'"><b>Wykonane</b></div>
                <div class="col-4 text-center text-danger" *ngIf="lab.stateId.name=='ANUL_LAB'"><b>Anulowane przez laboranta</b></div>
                <div class="col-4 text-center text-success" *ngIf="lab.stateId.name=='ZATW'"><b>Zatwierdzone</b></div>
                <div class="col-4 text-center text-danger" *ngIf="lab.stateId.name=='ANUL_KLAB'"><b>Anulowane przez kierownika</b></div>
            </div>

            <!-- Examination basic info -->
            <div class="row border-top">
                <div class="col-8 align-self-center my-1">
                    <div class="row">
                        <div class="col">Data zlecenia:</div>
                        <div class="col-8">{{lab.visitId.finalizationCancellationDate}}</div>
                    </div>
                    <div class="row" *ngIf="lab.stateId.name=='ANUL_LAB' || lab.stateId.name=='ANUL_KLAB'">
                        <div class="col">Data anulowania:</div>
                        <div class="col-8">{{formatDate(lab.executionCancellationDate)}}</div>
                    </div>
                    <div class="row" *ngIf="lab.stateId.name=='WYK' || lab.stateId.name=='ZATW'">
                        <div class="col">Data wykonania:</div>
                        <div class="col-8">{{formatDate(lab.executionCancellationDate)}}</div>
                    </div>
                    <div class="row" *ngIf="lab.stateId.name=='ZATW'">
                        <div class="col">Data zatwierdzenia:</div>
                        <div class="col-8">{{formatDate(lab.approvalCancellationDate)}}</div>
                    </div>
                    <div class="row" *ngIf="lab.stateId.name=='ANUL_KLAB'">
                        <div class="col">Data odrzucenia:</div>
                        <div class="col-8">{{formatDate(lab.approvalCancellationDate)}}</div>
                    </div>
                </div>

                <!-- Details button -->
                <div class="col-4 align-self-center text-center my-2">
                    <button class="btn btn-primary">Szczegóły</button>
                </div>
            </div>
        </div>
    </div>

</div>
