<div class="container">
    <!-- Navigation panel -->

    <div class="row">
        <button (click)="navigateToLab()" class="col cursor-ptr text-black-50 text-center border rounded-lg m-5" style="background-color: #4ea3ff">
            <fa-icon [icon]="microscope" class="text-primary-50 fa-9x" ></fa-icon><br>
            <div class="mb-3 text-xl-center font-weight-bold">LABORATORIUM</div>
        </button>
        <button class="col cursor-ptr text-black-50 text-center border rounded-lg m-5" style="background-color: #4ea3ff">
            <!-- PLACEHOLDER -->
        </button>
        <button class="col cursor-ptr text-black-50 text-center border rounded-lg m-5" style="background-color: #4ea3ff">
            <!-- PLACEHOLDER -->
        </button>
    </div>
</div>